In [1]:
import pandas as pd

In [7]:
testdf = pd.read_csv("/home/burak/Downloads/cydec.csv",sep=";")

In [8]:
testdf

,Unnamed: 0,tweets,final validation
0,907992283076755456,ddos attacks on internet providers can impact ...,1.0
1,898978582432579584,$mention$ new malware masquerades as rideshari...,1.0
2,880183959174471680,that thing where you run corporation phishing ...,0.0
3,872130114884165632,operators beware ddos attackslarge and smallke...,1.0
4,832354396977524736,transcend vr sues investor mike rothenberg for...,0.0
...,...,...,...
10997,NaN,NaN,NaN
10998,NaN,NaN,NaN
10999,NaN,NaN,NaN
11000,NaN,NaN,NaN
11001,NaN,NaN,NaN